.wrapper {
    width: 100%;
    position: relative;
}

.wrapper .wrapper label, .wrapper Input {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #000;
  
}
.wrapper label {
    font-family: "Inter", sans-serif; 
    font-weight: 700;
    padding-top: 0;
    margin-bottom: 20px;
    font-size: 13px;
}
.wrapper Input {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 0 1.3px #878787;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: calc(100% - 20px);
    height: 28px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 20px;
}
