.btn {
    background-color: #000;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    margin-right: 11px;
    padding: 16px 35px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
}
.btn[data-variant="secondary"] {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 14px 35px;
}