.btn, .btn-outline , .btn-secondary {
  background-color: black;
  /* display: block; */
  color: #fff;
  border: none;
  padding: 16px 35px;
  border-radius: 500px;
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-secondary {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;

}
@media (max-width:500px) {
  .btn-outline, .btn {
    padding: 15px 20px;
    text-wrap: nowrap;
  }
}

.link-outline, .link{
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;

}

.link {
  background-color: #0d72ea;
  width: 85px;
  padding: 3px;
  color: #fff;
  font-size: 13px;
  margin: 0;
}
.hide {
  margin: 0;
}
.link-outline {
  background-color: transparent;
  color: #0d72ea;
  border: 1px solid #0d72ea;
  font-size: 14px;
  width: 165px;
  padding: 3px;
}



